.model__image {
    background: url(../Images/model.jpg) no-repeat center center;
    height: 550px;
    position: relative;
    margin: 0 30px;
}

.model__image img {
    position: absolute;
    top:22%;
    left: 19%;
}

.image__content {
    position: absolute;
    bottom: 0;
    left: 0;

    padding: 20px 10px;
    text-align: left;
}

.overlay__content {
    position: absolute;
    z-index: 9;

    background-color:#f07b3f;
    opacity: .3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.model__image  .image__content h3 {
    color: #3d6cb9;
    position: relative;
    z-index: 10;
}

.model__image  .image__content p {
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    position: relative;
    z-index: 10;
}

.model__image  .image__content span {
    color: #083836;
    font-size: 1.2rem;
    font-weight: 600;
}